{% extends "base.html" %}

{% block main_content %}
<h2>Découvrez ou revivez le jeu de briques</h2>

<p id="parag_description">
	vous pourrez...
	<br>
	Utilisez le menu à gauche pour découvrir les fonctionnalités de ce site.
</p>

<p>Trucs intéressants</p>
<ul>
	<li>Découvrez les statistiques de notre jeu
	</li>
	<li>Vous pouvez afficher une grille et la pioche</li>
	<li>Integrez des briques dans la grille à chaque nouvelle pioche</li>
	<li>Générez une grille aléatoire</li>
	<li>...</li>
</ul>

<h3>Je suis toujours impressionné par l'ignorance des gens quant à l'impact des mathématiques sur le monde</h3>



{% include 'message.html' %}

{% endblock %}









