{% extends "base.html" %}


{% block main_content %}


    <h2>Pioche : Sélectionnez une brique/pièce parmi 4</h2>

    <form   action="submit_choice" method = "post"> <!--ne change plus submit_review-->
        <!-- Liste déroulante pour "nomserie" -->
        <label for="piece_id"> Ici :</label>
        <select id="piece_id" name="piece_id" required>
            <option value="">-- Sélectionnez une piece  --</option>
            {% for instance in REQUEST_VARS['random_pieces'] %}
                <option value="{{ instance[0] }}">{{ instance[0] }}</option>   <!--le bug était au niveau de la valeur de value-->
            {% endfor %}

        </select>
        <br><br>


       
        <!--ne change plus rien ici aussi-->
        <button type="submit"  name="submit_choice"><a href="/submit_choice">valider le choix</a></button>

    </form>

    {% for instance in REQUEST_VARS['infos_pieces'] %}
        <p>id : {{instance[0]}}, longueur:{{instance[1]}}, largeur:{{instance[2]}}, couleur:{{instance[4]}}</p>
    {%endfor%}
    
    
    


    {% include 'message.html' %}



{% endblock %}

